<div id='fragment' class='animated fill-5' data-layout='3f19d616ab1973eab54443edad1f469f67e51a95' data-root><center>
    <h1>LunarBook</h1>
</center>

<style>
    code {
        display:        block;
        white-space:    pre-wrap;
    }
</style>

<div class="row">
    <div class="fill-1">
        <h3 class="center">Simple to Install</h3>

        <code>$ gmodproj -a add novacbn/lunarbook</code>
    </div>

    <div class="fill-1">
        <h3 class="center">Simple to Edit</h3>

        <code>$ gmodproj -a bin lunarbook watch
Server running on 'http://0.0.0.0:9090`, all edits are live</code>
    </div>

    <div class="fill-1">
        <h3 class="center">Simple to Export</h3>
        <code>$ gmodproj -a bin lunarbook export
LunarBook was exports to 'dist'</code>
    </div>
</div></div>
